/* Simple box styles for prototyping */

/* tag the whole page with this */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: auto;
    margin-top: 2em;
}

.box, .error-box {
    padding: 1em;
    margin: 1em;
    text-align: center;
    color: theme.black;
    background-color: theme.white;
}

/* surround divs in a nice box */
.box {
    border: 2px solid black;
}

/* the same box but for an error message */
.error-box {
    border: 2px solid red;
}

/* better title than the default h1, tag your <h1/> with this */
.title {
    font-size: 4em;
    text-align: center;
}

/* placeholder for a picture. tag an <img/> tag with this */
.fake-pic {
    border: 2px solid black;
    width: 25vw;
    height: 25vh;
    text-align: center;
    margin: auto;
    marginBottom: 2em;
}
